In [2]:
import pandas as pd

In [3]:
data = pd.read_csv('demog_2008_onward.csv')

In [4]:
data.head()

,﻿NHGISCODE,GJOIN2010,STATE,PLACE,total_population,total_native,total_foreign,total_less_than_bachelor,total_earned_bachelor,total_earned_graduate_degree,median_household_income
0,G01000100,G01000100,Alabama,Abanda CDP,42.0,42.0,0.0,42.0,0.0,0.0,13864.0
1,G01000124,G01000124,Alabama,Abbeville city,2699.0,2418.0,281.0,1864.0,222.0,104.0,26538.0
2,G01000460,G01000460,Alabama,Adamsville city,4537.0,4148.0,389.0,3206.0,261.0,121.0,43766.0
3,G01000484,G01000484,Alabama,Addison town,826.0,824.0,2.0,531.0,39.0,67.0,39750.0
4,G01000676,G01000676,Alabama,Akron town,369.0,369.0,0.0,258.0,0.0,21.0,24485.0

In [5]:
data['year'] = '2008'

In [6]:
data['city_name'] = pd.np.where(data.PLACE.str.contains("city"),
                                                         data.PLACE.str.split("city"),
                                             pd.np.where(data.PLACE.str.contains("CDP"),
                                                         data.PLACE.str.split("CDP"),
                                             pd.np.where(data.PLACE.str.contains("town"),
                                                         data.PLACE.str.split("town"),
                                             pd.np.where(data.PLACE.str.contains("(U)"),
                                                         data.PLACE.str.split("(U)"),
                                                         data.PLACE))))

/usr/local/Anaconda3-5.0.0-Linux-x86_64/envs/PUI2016_Python3/lib/python3.5/site-packages/ipykernel/__main__.py:7: UserWarning: This pattern has match groups. To actually get the groups, use str.extract.

In [7]:
data['city_name'] = data['city_name'].str[0]

In [8]:
data

,﻿NHGISCODE,GJOIN2010,STATE,PLACE,total_population,total_native,total_foreign,total_less_than_bachelor,total_earned_bachelor,total_earned_graduate_degree,median_household_income,year,city_name
0,G01000100,G01000100,Alabama,Abanda CDP,42.0,42.0,0.0,42.0,0.0,0.0,13864.0,2008,Abanda
1,G01000124,G01000124,Alabama,Abbeville city,2699.0,2418.0,281.0,1864.0,222.0,104.0,26538.0,2008,Abbeville
2,G01000460,G01000460,Alabama,Adamsville city,4537.0,4148.0,389.0,3206.0,261.0,121.0,43766.0,2008,Adamsville
3,G01000484,G01000484,Alabama,Addison town,826.0,824.0,2.0,531.0,39.0,67.0,39750.0,2008,Addison
4,G01000676,G01000676,Alabama,Akron town,369.0,369.0,0.0,258.0,0.0,21.0,24485.0,2008,Akron
5,G01000820,G01000820,Alabama,Alabaster city,30372.0,27671.0,2701.0,14958.0,5075.0,1997.0,71250.0,2008,Alabaster
6,G01000988,G01000988,Alabama,Albertville city,21079.0,17317.0,3762.0,13384.0,1124.0,640.0,37385.0,2008,Albertville
7,G01001132,G01001132,Alabama,Alexander City city,14848.0,14285.0,563.0,9594.0,1044.0,500.0,33373.0,2008,Alexander City
8,G01001180,G01001180,Alabama,Alexandria CDP,3581.0,3562.0,19.0,2346.0,312.0,127.0,50195.0,2008,Alexandria
9,G01001228,G01001228,Alabama,Aliceville city,3486.0,3486.0,0.0,2197.0,198.0,79.0,18847.0,2008,Aliceville
10,G01001396,G01001396,Alabama,Allgood town,701.0,471.0,230.0,433.0,38.0,3.0,39792.0,2008,Allgood
11,G01001660,G01001660,Alabama,Altoona town,888.0,888.0,0.0,621.0,42.0,17.0,28618.0,2008,Altoona
12,G01001708,G01001708,Alabama,Andalusia city,9028.0,8871.0,157.0,5788.0,771.0,481.0,31823.0,2008,Andalusia
13,G01001756,G01001756,Alabama,Anderson town,352.0,322.0,30.0,232.0,11.0,23.0,35000.0,2008,Anderson
14,G01001852,G01001852,Alabama,Anniston city,23067.0,22743.0,324.0,14923.0,2108.0,1478.0,33572.0,2008,Anniston
15,G0100062,NaN,Alabama,Anniston Northwest (U),NaN,NaN,NaN,NaN,NaN,NaN,NaN,2008,Anniston Northwest (
16,G01002116,G01002116,Alabama,Arab city,8119.0,7990.0,129.0,4894.0,907.0,457.0,44224.0,2008,Arab
17,G01002260,G01002260,Alabama,Ardmore town,1380.0,1369.0,11.0,908.0,69.0,32.0,34107.0,2008,Ardmore
18,G01002320,G01002320,Alabama,Argo town,3981.0,3950.0,31.0,2639.0,366.0,147.0,58485.0,2008,Argo
19,G01002428,G01002428,Alabama,Ariton town,875.0,853.0,22.0,617.0,32.0,16.0,35000.0,2008,Ariton
20,G01002500,G01002500,Alabama,Arley town,613.0,606.0,7.0,527.0,31.0,16.0,26250.0,2008,Arley
21,G01002836,G01002836,Alabama,Ashford town,2330.0,2322.0,8.0,1489.0,207.0,64.0,39830.0,2008,Ashford
22,G01002860,G01002860,Alabama,Ashland town,1888.0,1705.0,183.0,1520.0,52.0,52.0,26034.0,2008,Ashland
23,G01002908,G01002908,Alabama,Ashville city,2258.0,2199.0,59.0,1640.0,53.0,37.0,34234.0,2008,Ashville
24,G01002956,G01002956,Alabama,Athens city,22198.0,20893.0,1305.0,12228.0,2712.0,1433.0,47167.0,2008,Athens
25,G01003004,G01003004,Alabama,Atmore city,10103.0,9770.0,333.0,7538.0,650.0,212.0,29141.0,2008,Atmore
26,G01003028,G01003028,Alabama,Attalla city,6060.0,5906.0,154.0,4529.0,233.0,149.0,31797.0,2008,Attalla
27,G01003076,G01003076,Alabama,Auburn city,53817.0,49712.0,4105.0,28093.0,9307.0,7024.0,37590.0,2008,Auburn
28,G01003220,G01003220,Alabama,Autaugaville town,924.0,924.0,0.0,626.0,45.0,34.0,30833.0,2008,Autaugaville
29,G01003364,G01003364,Alabama,Avon town,677.0,662.0,15.0,414.0,19.0,11.0,41250.0,2008,Avon
...,...,...,...,...,...,...,...,...,...,...,...,...,...
31406,G72076339,G72076339,Puerto Rico,San Isidro comunidad,7930.0,NaN,NaN,5466.0,272.0,56.0,15761.0,2008,S
31407,G72076683,G72076683,Puerto Rico,San JosÈ comunidad,2747.0,NaN,NaN,1796.0,169.0,0.0,13198.0,2008,S
31408,G72076770,G72076770,Puerto Rico,San Juan zona urbana,380167.0,NaN,NaN,208614.0,57397.0,31810.0,23031.0,2008,S
31409,G72077027,G72077027,Puerto Rico,San Lorenzo zona urbana,8477.0,NaN,NaN,5133.0,756.0,340.0,16152.0,2008,S
31410,G72077500,G72077500,Puerto Rico,San Sebasti·n zona urbana,11416.0,NaN,NaN,7361.0,1095.0,225.0,12033.0,2008,S
31411,G72077672,G72077672,Puerto Rico,Santa B·rbara comunidad,5892.0,NaN,NaN,4007.0,283.0,44.0,17300.0,2008,S
31412,G72077826,G72077826,Puerto Rico,Santa Clara comunidad,843.0,NaN,NaN,515.0,45.0,0.0,6507.0,2008,S
31413,G72078145,G72078145,Puerto Rico,Santa Isabel zona urbana,6216.0,NaN,NaN,3882.0,464.0,174.0,15098.0,2008,S
31414,G72079564,G72079564,Puerto Rico,Santo Domingo comunidad,3011.0,NaN,NaN,1979.0,122.0,0.0,16587.0,2008,S
31415,G72080596,G72080596,Puerto Rico,Stella comunidad,1072.0,NaN,NaN,696.0,79.0,31.0,20054.0,2008,S
31416,G72080639,G72080639,Puerto Rico,Su·rez comunidad,2250.0,NaN,NaN,1776.0,42.0,0.0,11996.0,2008,S
31417,G72081456,G72081456,Puerto Rico,Tallaboa Alta comunidad,2319.0,NaN,NaN,1456.0,183.0,49.0,16977.0,2008,T
31418,G72081413,G72081413,Puerto Rico,Tallaboa comunidad,773.0,NaN,NaN,598.0,46.0,15.0,13095.0,2008,T
31419,G72082055,G72082055,Puerto Rico,Tibes comunidad,419.0,NaN,NaN,313.0,0.0,0.0,22946.0,2008,T
31420,G72082125,G72082125,Puerto Rico,Tiburones comunidad,1559.0,NaN,NaN,941.0,90.0,0.0,12628.0,2008,T
31421,G72082187,G72082187,Puerto Rico,Tierras Nuevas Poniente comunidad,2934.0,NaN,NaN,1400.0,452.0,263.0,23269.0,2008,T
31422,G72082488,G72082488,Puerto Rico,Toa Alta zona urbana,3830.0,NaN,NaN,2542.0,445.0,88.0,19257.0,2008,T
31423,G72082617,G72082617,Puerto Rico,Toa Baja zona urbana,2077.0,NaN,NaN,1512.0,54.0,0.0,13281.0,2008,T
31424,G72083606,G72083606,Puerto Rico,Trujillo Alto zona urbana,50401.0,NaN,NaN,24759.0,9300.0,3488.0,33388.0,2008,T
31425,G72084509,G72084509,Puerto Rico,Utuado zona urbana,9313.0,NaN,NaN,5819.0,1024.0,213.0,13433.0,2008,
31426,G72085025,G72085025,Puerto Rico,Vayas comunidad,457.0,NaN,NaN,355.0,38.0,0.0,9091.0,2008,V
31427,G72085111,G72085111,Puerto Rico,V·zquez comunidad,1710.0,NaN,NaN,1140.0,120.0,9.0,12529.0,2008,V
31428,G72085197,G72085197,Puerto Rico,Vega Alta zona urbana,11158.0,NaN,NaN,7063.0,1215.0,242.0,17267.0,2008,V
31429,G72085326,G72085326,Puerto Rico,Vega Baja zona urbana,28709.0,NaN,NaN,17855.0,2619.0,610.0,15739.0,2008,V
31430,G72085971,G72085971,Puerto Rico,Vieques comunidad,3163.0,NaN,NaN,2228.0,168.0,23.0,14167.0,2008,V
31431,G72086014,G72086014,Puerto Rico,Vieques zona urbana,1858.0,NaN,NaN,1249.0,51.0,48.0,16131.0,2008,V
31432,G72086831,G72086831,Puerto Rico,Villalba zona urbana,4233.0,NaN,NaN,2908.0,235.0,37.0,15984.0,2008,V
31433,G72087863,G72087863,Puerto Rico,Yabucoa zona urbana,6256.0,NaN,NaN,3745.0,671.0,137.0,16223.0,2008,Y
31434,G72088035,G72088035,Puerto Rico,Yauco zona urbana,17857.0,NaN,NaN,10928.0,1905.0,424.0,16999.0,2008,Y
31435,G72088121,G72088121,Puerto Rico,Yaurel comunidad,1334.0,NaN,NaN,938.0,69.0,22.0,13265.0,2008,Y

In [9]:
!curl https://raw.githubusercontent.com/fitnr/addfips/master/addfips/data/states.csv?accessType = Download > states.csv

  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
100  1036  100  1036    0     0   6110      0 --:--:-- --:--:-- --:--:--  6130
curl: (6) Could not resolve host: =
curl: (6) Could not resolve host: Download

In [10]:
states = pd.read_csv('states.csv')
states.head()

         name postal  fips
0     Alabama     AL     1
1      Alaska     AK     2
2     Arizona     AZ     4
3    Arkansas     AR     5
4  California     CA     6

In [11]:
df = data.merge(states, left_on='STATE', right_on='name', how = 'inner')

In [12]:
df.head()

,﻿NHGISCODE,GJOIN2010,STATE,PLACE,total_population,total_native,total_foreign,total_less_than_bachelor,total_earned_bachelor,total_earned_graduate_degree,median_household_income,year,city_name,name,postal,fips
0,G01000100,G01000100,Alabama,Abanda CDP,42.0,42.0,0.0,42.0,0.0,0.0,13864.0,2008,Abanda,Alabama,AL,1
1,G01000124,G01000124,Alabama,Abbeville city,2699.0,2418.0,281.0,1864.0,222.0,104.0,26538.0,2008,Abbeville,Alabama,AL,1
2,G01000460,G01000460,Alabama,Adamsville city,4537.0,4148.0,389.0,3206.0,261.0,121.0,43766.0,2008,Adamsville,Alabama,AL,1
3,G01000484,G01000484,Alabama,Addison town,826.0,824.0,2.0,531.0,39.0,67.0,39750.0,2008,Addison,Alabama,AL,1
4,G01000676,G01000676,Alabama,Akron town,369.0,369.0,0.0,258.0,0.0,21.0,24485.0,2008,Akron,Alabama,AL,1

In [13]:
df['abrv_city_state'] = df['city_name'] + '_' + df['postal']

In [14]:
df['abrv_city_state'] = df['abrv_city_state'].str.replace(' ','')
df['abrv_city_state'] = df['abrv_city_state'].str.replace(',','')
df['abrv_city_state'] = df['abrv_city_state'].str.replace('.','')
df['abrv_city_state'] = df['abrv_city_state'].str.lower()

In [15]:
df.head()

,﻿NHGISCODE,GJOIN2010,STATE,PLACE,total_population,total_native,total_foreign,total_less_than_bachelor,total_earned_bachelor,total_earned_graduate_degree,median_household_income,year,city_name,name,postal,fips,abrv_city_state
0,G01000100,G01000100,Alabama,Abanda CDP,42.0,42.0,0.0,42.0,0.0,0.0,13864.0,2008,Abanda,Alabama,AL,1,abanda_al
1,G01000124,G01000124,Alabama,Abbeville city,2699.0,2418.0,281.0,1864.0,222.0,104.0,26538.0,2008,Abbeville,Alabama,AL,1,abbeville_al
2,G01000460,G01000460,Alabama,Adamsville city,4537.0,4148.0,389.0,3206.0,261.0,121.0,43766.0,2008,Adamsville,Alabama,AL,1,adamsville_al
3,G01000484,G01000484,Alabama,Addison town,826.0,824.0,2.0,531.0,39.0,67.0,39750.0,2008,Addison,Alabama,AL,1,addison_al
4,G01000676,G01000676,Alabama,Akron town,369.0,369.0,0.0,258.0,0.0,21.0,24485.0,2008,Akron,Alabama,AL,1,akron_al

In [16]:
final_df = df.drop(['﻿NHGISCODE','GJOIN2010','STATE','PLACE','year','city_name','name','postal','fips'], axis = 1)

In [17]:
final_df.head()

,total_population,total_native,total_foreign,total_less_than_bachelor,total_earned_bachelor,total_earned_graduate_degree,median_household_income,abrv_city_state
0,42.0,42.0,0.0,42.0,0.0,0.0,13864.0,abanda_al
1,2699.0,2418.0,281.0,1864.0,222.0,104.0,26538.0,abbeville_al
2,4537.0,4148.0,389.0,3206.0,261.0,121.0,43766.0,adamsville_al
3,826.0,824.0,2.0,531.0,39.0,67.0,39750.0,addison_al
4,369.0,369.0,0.0,258.0,0.0,21.0,24485.0,akron_al

In [18]:
final_df.to_csv('2008_demographics_finished.csv')