In [1]:
import pandas as pd
import numpy as np

In [2]:
ez = pd.read_csv('Regulation_Data/EZ_EC_RC/EZs.csv')

In [3]:
ez.head()

  ﻿Round_I (1993-1994) Round_II (1997-1999)    Round_III (2000)
0          Atlanta, GA           Boston, MA          Fresno, CA
1        Baltimore, MD       Cincinnati, OH    Jacksonville, FL
2          Chicago, IL         Columbia, SC   Oklahoma City, OK
3          Detroit, MI           Sumter, SC  Pulaski County, AR
4         New York, NY         Columbus, OH     San Antonio, TX

In [4]:
ez.columns

Index(['﻿Round_I (1993-1994)', 'Round_II (1997-1999)', 'Round_III (2000)'], dtype='object')

In [5]:
ez_new_df = ez['﻿Round_I (1993-1994)'].append(ez['Round_II (1997-1999)'].append(ez['Round_III (2000)']))

In [6]:
ez_fixed = pd.DataFrame(ez_new_df)
ez_fixed = ez_fixed.reset_index()

In [7]:
ez_fixed.columns = ['new_index','cities']

In [8]:
ez_fixed

     new_index                  cities
0            0             Atlanta, GA
1            1           Baltimore, MD
2            2             Chicago, IL
3            3             Detroit, MI
4            4            New York, NY
5            5              Camden, NJ
6            6        Philadelphia, PA
7            7  Kentucky Highlands, KY
8            8           Mid-Delta, MS
9            9   Rio Grande Valley, TX
10          10               Akron, OH
11          11                Troy, NY
12          12              Albany, GA
13          13         Schenectady, NY
14          14              Albany, NY
15          15         Albuquerque, NM
16          16          Birmingham, AL
17          17              Boston, MA
18          18          Bridgeport, CT
19          19             Buffalo, NY
20          20          Burlington, VT
21          21          Charleston, SC
22          22           Charlotte, NC
23          23           Cleveland, OH
24          24            Columbus, OH
25          25              Dallas, TX
26          26              Denver, CO
27          27          Des Moines, IA
28          28      East St. Louis, IL
29          29             El Paso, TX
..         ...                     ...
333         91                     NaN
334         92                     NaN
335         93                     NaN
336         94                     NaN
337         95                     NaN
338         96                     NaN
339         97                     NaN
340         98                     NaN
341         99                     NaN
342        100                     NaN
343        101                     NaN
344        102                     NaN
345        103                     NaN
346        104                     NaN
347        105                     NaN
348        106                     NaN
349        107                     NaN
350        108                     NaN
351        109                     NaN
352        110                     NaN
353        111                     NaN
354        112                     NaN
355        113                     NaN
356        114                     NaN
357        115                     NaN
358        116                     NaN
359        117                     NaN
360        118                     NaN
361        119                     NaN
362        120                     NaN

[363 rows x 2 columns]

In [9]:
ez_fixed = ez_fixed.drop_duplicates()

In [10]:
city_state = ez_fixed['cities'].str.split(',',expand = True)
ez_fixed['city']  =  city_state[0]
ez_fixed['state']  =  city_state[1]

/usr/local/Anaconda3-5.0.0-Linux-x86_64/envs/PUI2016_Python3/lib/python3.5/site-packages/ipykernel/__main__.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  from ipykernel import kernelapp as app
/usr/local/Anaconda3-5.0.0-Linux-x86_64/envs/PUI2016_Python3/lib/python3.5/site-packages/ipykernel/__main__.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  app.launch_new_instance()

In [11]:
ez_fixed['city_state'] = ez_fixed['city'] + '_' + ez_fixed['state']
ez_fixed.head()

/usr/local/Anaconda3-5.0.0-Linux-x86_64/envs/PUI2016_Python3/lib/python3.5/site-packages/ipykernel/__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

   new_index         cities       city state     city_state
0          0    Atlanta, GA    Atlanta    GA    Atlanta_ GA
1          1  Baltimore, MD  Baltimore    MD  Baltimore_ MD
2          2    Chicago, IL    Chicago    IL    Chicago_ IL
3          3    Detroit, MI    Detroit    MI    Detroit_ MI
4          4   New York, NY   New York    NY   New York_ NY

In [12]:
ez_fixed['city_state'] = ez_fixed['city_state'].str.replace(' ','')
ez_fixed['city_state'] = ez_fixed['city_state'].str.replace(',','')
ez_fixed['city_state'] = ez_fixed['city_state'].str.replace('.','')
ez_fixed['city_state'] = ez_fixed['city_state'].str.lower()

/usr/local/Anaconda3-5.0.0-Linux-x86_64/envs/PUI2016_Python3/lib/python3.5/site-packages/ipykernel/__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':
/usr/local/Anaconda3-5.0.0-Linux-x86_64/envs/PUI2016_Python3/lib/python3.5/site-packages/ipykernel/__main__.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  from ipykernel import kernelapp as app
/usr/local/Anaconda3-5.0.0-Linux-x86_64/envs/PUI2016_Python3/lib/python3.5/site-packages/ipykernel/__main__.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  app.launch_new_instance()
/usr/local/Anaconda3-5.0.0-Linux-x86_64/envs/PUI2016_Python3/lib/python3.5/site-packages/ipykernel/__main__.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [13]:
empowerment_cities = list(ez_fixed['city_state'])

In [14]:
empowerment_cities

['atlanta_ga',
 'baltimore_md',
 'chicago_il',
 'detroit_mi',
 'newyork_ny',
 'camden_nj',
 'philadelphia_pa',
 'kentuckyhighlands_ky',
 'mid-delta_ms',
 'riograndevalley_tx',
 'akron_oh',
 'troy_ny',
 'albany_ga',
 'schenectady_ny',
 'albany_ny',
 'albuquerque_nm',
 'birmingham_al',
 'boston_ma',
 'bridgeport_ct',
 'buffalo_ny',
 'burlington_vt',
 'charleston_sc',
 'charlotte_nc',
 'cleveland_oh',
 'columbus_oh',
 'dallas_tx',
 'denver_co',
 'desmoines_ia',
 'eaststlouis_il',
 'elpaso_tx',
 'flint_mi',
 'harrisburg_pa',
 'houston_tx',
 'huntington_wv',
 'indianapolis_in',
 'jackson_ms',
 'kansascity_ks',
 'kansascity_mo',
 'lasvegas_nv',
 'littlerock_ar',
 'losangeles_ca',
 'louisville_ky',
 'lowell_ma',
 'manchester_nh',
 'memphis_tn',
 'miami_fl',
 'milwaukee_wi',
 'minneapolis_mn',
 'muskegon_mi',
 'nashville_tn',
 'newhaven_ct',
 'neworleans_la',
 'newark_nj',
 'newburgh_ny',
 'kingston_ny',
 'norfolk_va',
 'oakland_ca',
 'ogden_ut',
 'oklahomacity_ok',
 'omaha_ne',
 'ouachitaparish_la',
 'phoenix_az',
 'pittsburgh_pa',
 'portland_or',
 'providence_ri',
 'rochester_ny',
 'sanantonio_tx',
 'sandiego_ca',
 'sanfrancisco_ca',
 'seattle_wa',
 'springfield_il',
 'springfield_ma',
 'stlouis_mo',
 'stpaul_mn',
 'tacoma_wa',
 'tampa_fl',
 'waco_tx',
 'washington_dc',
 'wilmington_de',
 'cleveland_oh',
 'losangeles_ca',
 'boston_ma',
 'houston_tx',
 'oakland_ca',
 'northamptoncounty_va',
 'accomackcounty_va',
 'arizonaborderregion_az',
 'spinkcounty_sd',
 'beadlecounty_sd',
 'centralappalachia_wv',
 'centralsavannahriverarea_ga',
 'chamberscounty_al',
 'cityofeastprairie_mo',
 'cityoflockhaven_pa',
 'cityofwatsonville_ca',
 'doolycounty_ga',
 'crispcounty_ga',
 'eastarkansas_ar',
 'haywoodcounty_tn',
 'fayettecounty_tn',
 'greaterportsmouth_oh',
 'greene-sumter_al',
 'halifaxcounty_nc',
 'edgecombecounty_nc',
 'imperialcounty_ca',
 'jacksoncounty_fl',
 'josephinecounty_or',
 'lajicarita_nm',
 'lakecounty_mi',
 'loweryakimacounty_wa',
 'maconridge_la',
 'mcdowellcounty_wv',
 'mississippicounty_ar',
 'northdeltamississippi_ms',
 'northeastlouisianadelta_la',
 'robesoncounty_nc',
 'scott_tn',
 'mccreary_ky',
 'southeastoklahoma_ok',
 'williamsburgcounty_sc',
 'lakecity_sc',
 'boston_ma',
 'cincinnati_oh',
 'columbia_sc',
 'sumter_sc',
 'columbus_oh',
 'cumberlandcounty_nj',
 'elpaso_tx',
 'gary_in',
 'hammond_in',
 'eastchicago_in',
 'ironton_oh',
 'huntington_wv',
 'knoxville_tn',
 'miami/dadecounty_fl',
 'minneapolis_mn',
 'newhaven_ct',
 'norfolk_va',
 'portsmouth_va',
 'santaana_ca',
 'stlouis_ms',
 'eaststlouis_il',
 'desertcommunities_ca',
 'griggs-steele_nd',
 'oglalasiouxtribe_sd',
 'southernmostillinoisdelta_il',
 'southwestgeorgiaunited_ga',
 'allendalealive_sc',
 'bowlinggreen_ky',
 'cityofdeming_nm',
 'clarecounty_mi',
 'clinch-powell_tn',
 'empowerlewiston_me',
 'empowermentallianceofsouthwestflorida_fl',
 'fayette_pa',
 'fivestar_wa',
 'fortpeckassiniboine&siouxtribe_mt',
 'fourcorners_az',
 'futurocommunities_tx',
 'huron-tule_ca',
 'metlakatlaindiancommunity_ak',
 'molokai_hi',
 'northwoodsniijii_wi',
 'townofaustin_in',
 'tri-countyindiannations_ok',
 'upperkanawha_wv',
 'wichitacounty_ks',
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 'fresno_ca',
 'jacksonville_fl',
 'oklahomacity_ok',
 'pulaskicounty_ar',
 'sanantonio_tx',
 'syracuse_ny',
 'tucson_az',
 'yonkers_ny',
 'aroostookcounty_me',
 'futuro_tx',
 'atlanta_ga',
 'buffalo-lackawanna_ny',
 'camden_nj',
 'charleston_sc',
 'chattanooga_tn',
 'chicago_il',
 'corpuschristi_tx',
 'detroit_mi',
 'flint_mi',
 'hamilton_oh',
 'lawrence_ma',
 'losangeles_ca',
 'lowell_ma',
 'memphis_tn',
 'milwaukee_wi',
 'mobile_al',
 'neworleans_la',
 'newark_nj',
 'niagarafalls_ny',
 'ouachitaparish_la',
 'philadelphia_pa',
 'rochester_ny',
 'sandiego_ca',
 'sanfrancisco_ca',
 'schenectady_ny',
 'tacoma_wa',
 'yakima_wa',
 'youngstown_oh',
 'burlington_vt',
 'centrallouisiana_la',
 'easternkentucky_ky',
 'elpasocounty_tx',
 'greene-sumter_al',
 'jamestown_ny',
 'northernlouisiana_la',
 'orangecove_ca',
 'parlier_ca',
 'southernalabama_al',
 'turtlemountainbandofchippewa_nd',
 'west-centralmississippi_ms']

# Get Datasets

In [15]:
years = list(range(1997,2015))

In [16]:
years

[1997,
 1998,
 1999,
 2000,
 2001,
 2002,
 2003,
 2004,
 2005,
 2006,
 2007,
 2008,
 2009,
 2010,
 2011,
 2012,
 2013,
 2014]

In [17]:
final_list = []
cities = pd.read_csv('Patents_Data/cities_with_scores.csv')
for i in years:
    
    #patent data
    patents = cities.loc[cities['Year']==int(float(i))]
    patents['city_state'] = patents['city_state'].str.replace(' ','')
    patents['city_state'] = patents['city_state'].str.replace(',','')
    patents['city_state'] = patents['city_state'].str.replace('.','')
    patents['city_state'] = patents['city_state'].str.lower()
    patents['year'] = i
    
    #sbir data
    sbir = pd.read_csv('Regulation_Data/SBIR/clean_SBIR/clean_sbir_'+str(i)+'.csv')
    sbir['City_State'] = sbir['City_State'].str.replace(' ','')
    sbir['City_State'] = sbir['City_State'].str.replace(',','')
    sbir['City_State'] = sbir['City_State'].str.replace('.','')
    sbir['City_State'] = sbir['City_State'].str.lower()
    
    #first join
    sbir_cities = patents.merge(sbir, left_on = 'city_state', right_on = 'City_State', how = 'left')
    
    #econ data
    if int(float(i)) < 2002:
        print("in 1997" + str(i))
        econ = pd.read_csv('econ_data/1997_creative_class.csv')
    if (int(float(i)) < 2007) & (int(float(i)) >= 2002):
        print("in 2002" + str(i))
        econ = pd.read_csv('econ_data/2002_creative_class.csv')
    if (int(float(i)) < 2012) & (int(float(i)) >= 2007):
        print("in 2007" + str(i))
        econ = pd.read_csv('econ_data/2007_creative_class.csv')
    if int(float(i)) >= 2012:
        print("in 2012" + str(i))
        econ = pd.read_csv('econ_data/2012_creative_class.csv')
    econ['city_state'] = econ['city_state'].str.replace(' ','')
    econ['city_state'] = econ['city_state'].str.replace('.','')
    econ['city_state'] = econ['city_state'].str.replace(',','')
    econ['city_state'] = econ['city_state'].str.lower()
    
    #second join
    sbir_creative_cities = sbir_cities.merge(econ,left_on = 'city_state', right_on = 'city_state', how = 'left')
    
    #fill sbir NaN with zero
    sbir_creative_cities['Award Mean'] = sbir_creative_cities['Award Mean'].fillna(0)
    sbir_creative_cities['Award Sum'] = sbir_creative_cities['Award Sum'].fillna(0)
    sbir_creative_cities['Company Count'] = sbir_creative_cities['Company Count'].fillna(0)
    
    #regulation data
    if i < 2001:
        sbir_creative_ff_cities = sbir_creative_cities
        
    if (i >= 2001) & (i<2013):
        performance = pd.read_csv('Regulation_Data/Federal_Funding/FF'+str(i)+'_performance.csv')
        recipient = pd.read_csv('Regulation_Data/Federal_Funding/FF'+str(i)+'_recipient.csv')
    
        performance['city_state_abrv'] = performance['primary_place_of_performance_city_name'] + '_' + performance['primary_place_of_performance_state_code']
        recipient['city_state_abrv'] = recipient['recipient_city_name'] + '_' + recipient['recipient_state_code']
    
        performance['city_state_abrv'] = performance['city_state_abrv'].str.replace(' ','')
        performance['city_state_abrv'] = performance['city_state_abrv'].str.replace(',','')
        performance['city_state_abrv'] = performance['city_state_abrv'].str.replace('.','')
        performance['city_state_abrv'] = performance['city_state_abrv'].str.lower()
    
        recipient['city_state_abrv'] = recipient['city_state_abrv'].str.replace(' ','')
        recipient['city_state_abrv'] = recipient['city_state_abrv'].str.replace(',','')
        recipient['city_state_abrv'] = recipient['city_state_abrv'].str.replace('.','')
        recipient['city_state_abrv'] = recipient['city_state_abrv'].str.lower()
    
        #third and fourth joins
        sbir_creative_performance_cities = sbir_creative_cities.merge(performance,left_on = 'City_State', right_on = 'city_state_abrv', how = 'left')
        sbir_creative_ff_cities = sbir_creative_performance_cities.merge(recipient,left_on = 'City_State', right_on = 'city_state_abrv', how = 'left')
        sbir_creative_ff_cities['performance_count'] = sbir_creative_ff_cities['performance_count'].fillna(0)
        sbir_creative_ff_cities['performance_amount'] = sbir_creative_ff_cities['performance_amount'].fillna(0)
        sbir_creative_ff_cities['recipient_count'] = sbir_creative_ff_cities['recipient_count'].fillna(0)
        sbir_creative_ff_cities['recipient_amount'] = sbir_creative_ff_cities['recipient_amount'].fillna(0)
        sbir_creative_ff_cities =  sbir_creative_ff_cities.drop(['Unnamed: 0_y.1', 'performance_city_state',
       'primary_place_of_performance_city_name',
       'primary_place_of_performance_state_code', 'city_state_abrv_x',
       'Unnamed: 0.1', 'recipient_city_state', 'recipient_city_name', 'recipient_state_code',
       'city_state_abrv_y'], axis = 1)
        
    if i >= 2013:
        sbir_creative_ff_cities = sbir_creative_cities
        
    print(i)
    
    #case when for empowerment zone
    sbir_creative_ff_cities['empowerment_zone'] =  pd.np.where(
     sbir_creative_ff_cities['City_State'].isin(empowerment_cities), 
    '1','0')
    
    sbir_creative_ff_cities = sbir_creative_ff_cities.drop(['Unnamed: 0_x', 'City_x', 'State_x', 'year', 'Unnamed: 0_y', 'City_y','City_State',
       'State_y', 'Unnamed: 0'], axis=1)
    sbir_creative_ff_cities.to_csv('sbir_creative_ff_cities_'+str(i)+'.csv')
    final_list.append(sbir_creative_ff_cities)

/usr/local/Anaconda3-5.0.0-Linux-x86_64/envs/PUI2016_Python3/lib/python3.5/site-packages/ipykernel/__main__.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/usr/local/Anaconda3-5.0.0-Linux-x86_64/envs/PUI2016_Python3/lib/python3.5/site-packages/ipykernel/__main__.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/usr/local/Anaconda3-5.0.0-Linux-x86_64/envs/PUI2016_Python3/lib/python3.5/site-packages/ipykernel/__main__.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/usr/local/Anaconda3-5.0.0-Linux-x86_64/envs/PUI2016_Python3/lib/python3.5/site-packages/ipykernel/__main__.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/usr/local/Anaconda3-5.0.0-Linux-x86_64/envs/PUI2016_Python3/lib/python3.5/site-packages/ipykernel/__main__.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

in 19971997
1997
in 19971998
1998
in 19971999
1999
in 19972000
2000
in 19972001
2001
in 20022002
2002
in 20022003
2003
in 20022004
2004
in 20022005
2005
in 20022006
2006
in 20072007
2007
in 20072008
2008
in 20072009
2009
in 20072010
2010
in 20072011
2011
in 20122012
2012
in 20122013
2013
in 20122014
2014

In [18]:
performance.columns

Index(['Unnamed: 0', 'performance_city_state', 'performance_count',
       'performance_amount', 'primary_place_of_performance_city_name',
       'primary_place_of_performance_state_code', 'city_state_abrv'],
      dtype='object')

In [19]:
recipient.columns

Index(['Unnamed: 0', 'recipient_city_state', 'recipient_count',
       'recipient_amount', 'recipient_city_name', 'recipient_state_code',
       'city_state_abrv'],
      dtype='object')

In [20]:
sbir_creative_ff_cities.columns

Index(['city_state', 'Year', 'Score1', 'Score2', 'Score5', 'Score6', 'Score7',
       'Award Mean', 'Award Sum', 'Company Count', 'creative_employees',
       'regular_employees', 'creative_establishments',
       'regular_establishments', 'empowerment_zone'],
      dtype='object')

In [21]:
a = sbir_creative_ff_cities.dropna()

In [22]:
a.shape

(790, 15)

In [23]:
final_df = pd.concat(final_list,ignore_index=True)

In [25]:
final_df.head()

,Award Mean,Award Sum,Company Count,Score1,Score2,Score5,Score6,Score7,Year,city_state,creative_employees,creative_establishments,empowerment_zone,performance_amount,performance_count,recipient_amount,recipient_count,regular_employees,regular_establishments
0,0.000000,0.0,0.0,1.380463,2.381361,1.466616,2.718282,4.184898,1997,armonk_ny,NaN,NaN,1,NaN,NaN,NaN,NaN,NaN,NaN
1,299187.588235,5086189.0,17.0,2.319336,2.579232,2.266534,2.620970,4.887504,1997,newyork_ny,309161.0,25930.0,1,NaN,NaN,NaN,NaN,7422611.0,701640.0
2,333303.888889,5999470.0,18.0,2.351801,2.523411,2.317455,2.574553,4.892009,1997,santaclara_ca,2222.0,188.0,0,NaN,NaN,NaN,NaN,157590.0,6512.0
3,262270.341463,10753084.0,41.0,2.583980,2.593817,2.478624,2.556240,5.034864,1997,paloalto_ca,822.0,414.0,0,NaN,NaN,NaN,NaN,65622.0,6520.0
4,276040.321429,7729129.0,28.0,2.602047,2.629107,2.532016,2.480597,5.012612,1997,sunnyvale_ca,1416.0,176.0,0,NaN,NaN,NaN,NaN,91156.0,5886.0

In [26]:
final_df.sort_values(by=['city_state','Year'])

,Award Mean,Award Sum,Company Count,Score1,Score2,Score5,Score6,Score7,Year,city_state,creative_employees,creative_establishments,empowerment_zone,performance_amount,performance_count,recipient_amount,recipient_count,regular_employees,regular_establishments
78,0.000000e+00,0.00,0.0,0.000000,2.165119,0.000000,1.888532,1.888532,1997,abbottpark_il,NaN,NaN,1,NaN,NaN,NaN,NaN,NaN,NaN
1081,0.000000e+00,0.00,0.0,0.000000,2.040327,0.000000,1.840315,1.840315,1998,abbottpark_il,NaN,NaN,1,NaN,NaN,NaN,NaN,NaN,NaN
2080,0.000000e+00,0.00,0.0,0.000000,2.135912,0.000000,1.826191,1.826191,1999,abbottpark_il,NaN,NaN,1,NaN,NaN,NaN,NaN,NaN,NaN
3106,0.000000e+00,0.00,0.0,0.000000,1.972719,0.000000,1.770608,1.770608,2000,abbottpark_il,NaN,NaN,1,NaN,NaN,NaN,NaN,NaN,NaN
4105,0.000000e+00,0.00,0.0,0.000000,1.911980,0.000000,1.751521,1.751521,2001,abbottpark_il,NaN,NaN,1,0.00,0.0,0.00,0.0,NaN,NaN
5135,0.000000e+00,0.00,0.0,0.000000,1.769035,0.000000,1.696412,1.696412,2002,abbottpark_il,NaN,NaN,1,0.00,0.0,0.00,0.0,NaN,NaN
6099,0.000000e+00,0.00,0.0,0.000000,1.937507,0.000000,1.749632,1.749632,2003,abbottpark_il,NaN,NaN,1,0.00,0.0,0.00,0.0,NaN,NaN
7094,0.000000e+00,0.00,0.0,0.000000,1.919069,0.000000,1.768576,1.768576,2004,abbottpark_il,NaN,NaN,1,0.00,0.0,0.00,0.0,NaN,NaN
8171,0.000000e+00,0.00,0.0,0.000000,1.900744,0.000000,1.722197,1.722197,2005,abbottpark_il,NaN,NaN,1,0.00,0.0,0.00,0.0,NaN,NaN
9122,0.000000e+00,0.00,0.0,0.000000,2.055779,0.000000,1.824238,1.824238,2006,abbottpark_il,NaN,NaN,1,0.00,0.0,0.00,0.0,NaN,NaN
10110,0.000000e+00,0.00,0.0,0.000000,2.024811,0.000000,1.780541,1.780541,2007,abbottpark_il,NaN,NaN,1,0.00,0.0,0.00,0.0,NaN,NaN
11082,0.000000e+00,0.00,0.0,0.000000,1.994495,0.000000,1.751336,1.751336,2008,abbottpark_il,NaN,NaN,1,0.00,0.0,0.00,0.0,NaN,NaN
12101,0.000000e+00,0.00,0.0,0.000000,2.004201,0.000000,1.788701,1.788701,2009,abbottpark_il,NaN,NaN,1,0.00,0.0,0.00,0.0,NaN,NaN
13093,0.000000e+00,0.00,0.0,1.483588,1.989268,1.287780,1.781004,3.068783,2010,abbottpark_il,NaN,NaN,1,0.00,0.0,0.00,0.0,NaN,NaN
14142,0.000000e+00,0.00,0.0,1.365780,1.966499,1.224367,1.704372,2.928739,2011,abbottpark_il,NaN,NaN,1,0.00,0.0,0.00,0.0,NaN,NaN
15184,0.000000e+00,0.00,0.0,0.000000,1.867041,0.000000,1.617066,1.617066,2012,abbottpark_il,NaN,NaN,1,0.00,0.0,0.00,0.0,NaN,NaN
16204,0.000000e+00,0.00,0.0,1.549513,1.905710,1.192149,1.610938,2.803087,2013,abbottpark_il,NaN,NaN,1,NaN,NaN,NaN,NaN,NaN,NaN
17341,0.000000e+00,0.00,0.0,1.669711,1.869712,1.214703,1.527944,2.742648,2014,abbottpark_il,NaN,NaN,1,NaN,NaN,NaN,NaN,NaN,NaN
2874,0.000000e+00,0.00,0.0,1.660586,1.729133,1.349639,1.314203,2.663842,1999,abilene_tx,960.0,306.0,1,NaN,NaN,NaN,NaN,44809.0,9205.0
527,7.648733e+04,229462.00,3.0,2.157756,2.072217,1.893171,1.438166,3.331337,1997,acton_ma,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN
2675,1.638775e+05,655510.00,4.0,2.088808,2.043136,1.910712,1.367736,3.278448,1999,acton_ma,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN
3397,1.564305e+05,938583.00,6.0,2.106694,2.075974,1.918971,1.497511,3.416482,2000,acton_ma,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN
5587,9.891800e+04,98918.00,1.0,2.071191,2.004518,1.883775,1.401905,3.285680,2002,acton_ma,846.0,178.0,0,0.00,0.0,1658436.00,30.0,13846.0,2420.0
6551,1.196000e+05,239200.00,2.0,2.144148,2.083608,1.957871,1.420880,3.378751,2003,acton_ma,846.0,178.0,0,2941.00,1.0,882443.00,31.0,13846.0,2420.0
7270,1.000120e+05,100012.00,1.0,2.084605,2.074016,1.908389,1.592145,3.500534,2004,acton_ma,846.0,178.0,0,452612.00,13.0,2474116.86,52.0,13846.0,2420.0
8592,1.000076e+05,500038.00,5.0,2.103957,2.034975,1.898622,1.438251,3.336873,2005,acton_ma,846.0,178.0,0,589318.47,20.0,6639359.81,128.0,13846.0,2420.0
9836,1.097500e+05,219500.00,2.0,2.124486,2.052256,1.946241,1.343224,3.289465,2006,acton_ma,846.0,178.0,0,951803.44,54.0,3566339.58,210.0,13846.0,2420.0
10755,1.109749e+05,776824.00,7.0,2.201828,2.157678,1.913315,1.347890,3.261205,2007,acton_ma,1340.0,256.0,0,6593225.83,59.0,7096782.38,240.0,30509.0,3326.0
11932,5.305943e+05,1591783.00,3.0,2.182612,2.119639,1.906695,1.270577,3.177271,2008,acton_ma,1340.0,256.0,0,1363644.98,67.0,3166984.51,215.0,30509.0,3326.0
12477,4.105310e+05,821062.00,2.0,2.240238,2.151366,1.981316,1.460052,3.441368,2009,acton_ma,1340.0,256.0,0,1565207.29,52.0,2418180.01,112.0,30509.0,3326.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
325,0.000000e+00,0.00,0.0,1.631992,1.684912,1.564324,1.564309,3.128633,1997,zeeland_mi,NaN,NaN,1,NaN,NaN,NaN,NaN,2664.0,222.0
1218,0.000000e+00,0.00,0.0,1.718559,1.829026,1.581575,1.635379,3.216954,1998,zeeland_mi,NaN,NaN,1,NaN,NaN,NaN,NaN,2664.0,222.0
2196,0.000000e+00,0.00,0.0,1.575424,1.740732,1.530359,1.644037,3.174395,1999,zeeland_mi,NaN,NaN,1,NaN,NaN,NaN,NaN,2664.0,222.0
3198,0.000000e+00,0.00,0.0,1.644466,1.787617,1.472388,1.655990,3.128378,2000,zeeland_mi,NaN,NaN,1,NaN,NaN,NaN,NaN,2664.0,222.0
4162,0.000000e+00,0.00,0.0,1.607958,1.765296,1.476576,1.686180,3.162757,2001,zeeland_mi,NaN,NaN,1,0.00,0.0,0.00,0.0,2664.0,222.0
5203,0.000000e+00,0.00,0.0,1.626315,1.731388,1.506584,1.628909,3.135493,2002,zeeland_mi,488.0,42.0,1,0.00,0.0,0.00,0.0,4895.0,364.0
6245,0.000000e+00,0.00,0.0,1.688233,1.764375,1.547418,1.596389,3.143807,2003,zeeland_mi,488.0,42.0,1,0.00,0.0,0.00,0.0,4895.0,364.0
7181,0.000000e+00,0.00,0.0,1.654618,1.812187,1.538329,1.671655,3.209984,2004,zeeland_mi,488.0,42.0,1,0.00,0.0,0.00,0.0,4895.0,364.0
8338,0.000000e+00,0.00,0.0,1.544523,1.698716,1.485018,1.575236,3.060255,2005,zeeland_mi,488.0,42.0,1,0.00,0.0,0.00,0.0,4895.0,364.0
9316,0.000000e+00,0.00,0.0,1.800212,1.800647,1.580156,1.598705,3.178861,2006,zeeland_mi,488.0,42.0,1,0.00,0.0,0.00,0.0,4895.0,364.0
10319,0.000000e+00,0.00,0.0,1.805068,1.852214,1.557593,1.553108,3.110702,2007,zeeland_mi,634.0,42.0,1,0.00,0.0,0.00,0.0,14527.0,612.0
11238,0.000000e+00,0.00,0.0,1.859351,1.885196,1.606240,1.562417,3.168657,2008,zeeland_mi,634.0,42.0,1,0.00,0.0,0.00,0.0,14527.0,612.0
12300,0.000000e+00,0.00,0.0,1.947597,1.912683,1.581963,1.577672,3.159635,2009,zeeland_mi,634.0,42.0,1,0.00,0.0,0.00,0.0,14527.0,612.0
13266,0.000000e+00,0.00,0.0,1.946889,1.950293,1.579353,1.607231,3.186583,2010,zeeland_mi,634.0,42.0,1,0.00,0.0,0.00,0.0,14527.0,612.0
14254,0.000000e+00,0.00,0.0,1.843103,1.860807,1.588132,1.607464,3.195596,2011,zeeland_mi,634.0,42.0,1,0.00,0.0,0.00,0.0,14527.0,612.0
15147,0.000000e+00,0.00,0.0,1.873712,1.903548,1.582791,1.643993,3.226784,2012,zeeland_mi,266.0,34.0,1,0.00,0.0,0.00,0.0,2856.0,383.0
16118,0.000000e+00,0.00,0.0,1.890551,1.924188,1.624429,1.680869,3.305298,2013,zeeland_mi,266.0,34.0,1,NaN,NaN,NaN,NaN,2856.0,383.0
17002,1.498837e+05,149883.69,1.0,1.863082,1.912439,1.664055,1.808865,3.472920,2014,zeeland_mi,266.0,34.0,0,NaN,NaN,NaN,NaN,2856.0,383.0
14644,0.000000e+00,0.00,0.0,1.319066,1.692814,1.132147,1.406106,2.538253,2011,zephyrcove_nv,NaN,NaN,1,0.00,0.0,0.00,0.0,NaN,NaN
15492,0.000000e+00,0.00,0.0,0.000000,1.711163,0.000000,1.435455,1.435455,2012,zephyrcove_nv,NaN,NaN,1,0.00,0.0,0.00,0.0,NaN,NaN
16654,0.000000e+00,0.00,0.0,1.428168,1.701837,1.271181,1.402632,2.673813,2013,zephyrcove_nv,NaN,NaN,1,NaN,NaN,NaN,NaN,NaN,NaN
4889,0.000000e+00,0.00,0.0,1.270729,1.259167,1.209628,1.313897,2.523524,2001,zion_il,NaN,NaN,1,0.00,0.0,0.00,0.0,1660.0,228.0
5735,0.000000e+00,0.00,0.0,1.138007,1.188539,1.176443,1.349584,2.526026,2002,zion_il,0.0,4.0,1,0.00,0.0,0.00,0.0,3694.0,514.0
6731,0.000000e+00,0.00,0.0,1.894605,1.848293,1.730709,1.362680,3.093389,2003,zionsville_in,64.0,18.0,1,0.00,0.0,0.00,0.0,3349.0,950.0
7853,0.000000e+00,0.00,0.0,1.749663,1.724486,1.639372,1.327953,2.967325,2004,zionsville_in,64.0,18.0,1,0.00,0.0,0.00,0.0,3349.0,950.0
8612,9.994400e+04,99944.00,1.0,1.818960,1.772334,1.707054,1.429899,3.136953,2005,zionsville_in,64.0,18.0,0,714230.00,2.0,3699029.95,5.0,3349.0,950.0
10751,2.126357e+05,637907.00,3.0,1.837880,1.811410,1.726571,1.347890,3.074462,2007,zionsville_in,26.0,56.0,0,447939.00,2.0,354120.00,14.0,7010.0,1598.0
11494,0.000000e+00,0.00,0.0,1.893483,1.867101,1.715623,1.407381,3.123004,2008,zionsville_in,26.0,56.0,1,0.00,0.0,0.00,0.0,7010.0,1598.0
12863,0.000000e+00,0.00,0.0,1.927045,1.866138,1.751250,1.315495,3.066746,2009,zionsville_in,26.0,56.0,1,0.00,0.0,0.00,0.0,7010.0,1598.0
13800,1.130450e+06,1130450.00,1.0,1.878927,1.853178,1.788330,1.343924,3.132254,2010,zionsville_in,26.0,56.0,0,66000.00,2.0,245416.92,18.0,7010.0,1598.0

In [27]:
new_york= final_df.loc[final_df['city_state']=='newyork_ny']

In [28]:
final_df.to_csv('all_years_all_data.csv')