In [58]:
import pandas as pd

In [59]:
data = pd.read_csv('demog_1990.csv')

In [60]:
data.head()

,﻿NHGISCODE,GJOIN1990,STATE,PLACE,total_people,total_native,total_foreign,total_less_than_bachelor,total_earned_bachelor,total_earned_graduate_degree,median_household_income
0,G01000100,NaN,Alabama,Abanda CDP,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,G01000124,G01000124,Alabama,Abbeville city,3173.0,3138.0,35.0,2135.0,150.0,74.0,21382.0
2,G01000460,G01000460,Alabama,Adamsville city,4161.0,4224.0,9.0,3051.0,118.0,21.0,30370.0
3,G01000484,G01000484,Alabama,Addison town,626.0,613.0,2.0,463.0,7.0,9.0,14167.0
4,G01000676,G01000676,Alabama,Akron town,468.0,528.0,0.0,363.0,17.0,2.0,9405.0

In [61]:
data['year'] = '1990'

In [62]:
data['city_name'] = pd.np.where(data.PLACE.str.contains("city"),
                                                         data.PLACE.str.split("city"),
                                             pd.np.where(data.PLACE.str.contains("CDP"),
                                                         data.PLACE.str.split("CDP"),
                                             pd.np.where(data.PLACE.str.contains("town"),
                                                         data.PLACE.str.split("town"),
                                             pd.np.where(data.PLACE.str.contains("(U)"),
                                                         data.PLACE.str.split("(U)"),
                                                         data.PLACE))))

/usr/local/Anaconda3-5.0.0-Linux-x86_64/envs/PUI2016_Python3/lib/python3.5/site-packages/ipykernel/__main__.py:7: UserWarning: This pattern has match groups. To actually get the groups, use str.extract.

In [63]:
data['city_name'] = data['city_name'].str[0]

In [64]:
data

,﻿NHGISCODE,GJOIN1990,STATE,PLACE,total_people,total_native,total_foreign,total_less_than_bachelor,total_earned_bachelor,total_earned_graduate_degree,median_household_income,year,city_name
0,G01000100,NaN,Alabama,Abanda CDP,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1990,Abanda
1,G01000124,G01000124,Alabama,Abbeville city,3173.0,3138.0,35.0,2135.0,150.0,74.0,21382.0,1990,Abbeville
2,G01000460,G01000460,Alabama,Adamsville city,4161.0,4224.0,9.0,3051.0,118.0,21.0,30370.0,1990,Adamsville
3,G01000484,G01000484,Alabama,Addison town,626.0,613.0,2.0,463.0,7.0,9.0,14167.0,1990,Addison
4,G01000676,G01000676,Alabama,Akron town,468.0,528.0,0.0,363.0,17.0,2.0,9405.0,1990,Akron
5,G01000820,G01000820,Alabama,Alabaster city,14732.0,14568.0,164.0,7987.0,1669.0,628.0,39261.0,1990,Alabaster
6,G01000988,G01000988,Alabama,Albertville city,14507.0,14426.0,81.0,9795.0,714.0,419.0,21337.0,1990,Albertville
7,G01001132,G01001132,Alabama,Alexander City city,14917.0,14868.0,49.0,9589.0,1000.0,418.0,20970.0,1990,Alexander City
8,G01001180,NaN,Alabama,Alexandria CDP,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1990,Alexandria
9,G01001228,G01001228,Alabama,Aliceville city,3009.0,2148.0,0.0,1487.0,80.0,0.0,10179.0,1990,Aliceville
10,G01001396,G01001396,Alabama,Allgood town,464.0,429.0,53.0,341.0,5.0,0.0,23681.0,1990,Allgood
11,G01001660,G01001660,Alabama,Altoona town,960.0,961.0,2.0,739.0,8.0,1.0,15547.0,1990,Altoona
12,G01001708,G01001708,Alabama,Andalusia city,9269.0,9177.0,113.0,5934.0,632.0,350.0,17719.0,1990,Andalusia
13,G01001756,G01001756,Alabama,Anderson town,339.0,317.0,0.0,209.0,12.0,18.0,20139.0,1990,Anderson
14,G01001852,G01001852,Alabama,Anniston city,26623.0,26249.0,374.0,16454.0,2053.0,1238.0,19099.0,1990,Anniston
15,G0100062,NaN,Alabama,Anniston Northwest (U),NaN,NaN,NaN,NaN,NaN,NaN,NaN,1990,Anniston Northwest (
16,G01002116,G01002116,Alabama,Arab city,6321.0,6273.0,40.0,4174.0,389.0,289.0,22434.0,1990,Arab
17,G01002260,G01002260,Alabama,Ardmore town,1090.0,1087.0,3.0,764.0,32.0,17.0,18056.0,1990,Ardmore
18,G01002320,G01002320,Alabama,Argo town,930.0,951.0,2.0,664.0,14.0,0.0,22303.0,1990,Argo
19,G01002428,G01002428,Alabama,Ariton town,743.0,754.0,0.0,510.0,21.0,10.0,16667.0,1990,Ariton
20,G01002500,G01002500,Alabama,Arley town,338.0,349.0,0.0,249.0,2.0,3.0,22125.0,1990,Arley
21,G01002836,G01002836,Alabama,Ashford town,1926.0,1916.0,10.0,1283.0,92.0,34.0,16354.0,1990,Ashford
22,G01002860,G01002860,Alabama,Ashland town,2034.0,2028.0,6.0,1378.0,121.0,57.0,17031.0,1990,Ashland
23,G01002908,G01002908,Alabama,Ashville city,1494.0,1455.0,11.0,995.0,39.0,27.0,22109.0,1990,Ashville
24,G01002956,G01002956,Alabama,Athens city,16901.0,16567.0,223.0,10419.0,1669.0,727.0,25823.0,1990,Athens
25,G01003004,G01003004,Alabama,Atmore city,8046.0,8039.0,7.0,5246.0,355.0,186.0,15859.0,1990,Atmore
26,G01003028,G01003028,Alabama,Attalla city,6859.0,6859.0,0.0,4767.0,232.0,131.0,20176.0,1990,Attalla
27,G01003076,G01003076,Alabama,Auburn city,33830.0,32426.0,1404.0,21023.0,4232.0,3511.0,12931.0,1990,Auburn
28,G01003220,G01003220,Alabama,Autaugaville town,681.0,773.0,0.0,464.0,20.0,16.0,13750.0,1990,Autaugaville
29,G01003364,G01003364,Alabama,Avon town,462.0,494.0,2.0,355.0,16.0,5.0,28393.0,1990,Avon
...,...,...,...,...,...,...,...,...,...,...,...,...,...
31406,G72076339,NaN,Puerto Rico,San Isidro comunidad,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1990,S
31407,G72076683,NaN,Puerto Rico,San JosÈ comunidad,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1990,S
31408,G72076770,NaN,Puerto Rico,San Juan zona urbana,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1990,S
31409,G72077027,NaN,Puerto Rico,San Lorenzo zona urbana,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1990,S
31410,G72077500,NaN,Puerto Rico,San Sebasti·n zona urbana,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1990,S
31411,G72077672,NaN,Puerto Rico,Santa B·rbara comunidad,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1990,S
31412,G72077826,NaN,Puerto Rico,Santa Clara comunidad,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1990,S
31413,G72078145,NaN,Puerto Rico,Santa Isabel zona urbana,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1990,S
31414,G72079564,NaN,Puerto Rico,Santo Domingo comunidad,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1990,S
31415,G72080596,NaN,Puerto Rico,Stella comunidad,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1990,S
31416,G72080639,NaN,Puerto Rico,Su·rez comunidad,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1990,S
31417,G72081456,NaN,Puerto Rico,Tallaboa Alta comunidad,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1990,T
31418,G72081413,NaN,Puerto Rico,Tallaboa comunidad,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1990,T
31419,G72082055,NaN,Puerto Rico,Tibes comunidad,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1990,T
31420,G72082125,NaN,Puerto Rico,Tiburones comunidad,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1990,T
31421,G72082187,NaN,Puerto Rico,Tierras Nuevas Poniente comunidad,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1990,T
31422,G72082488,NaN,Puerto Rico,Toa Alta zona urbana,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1990,T
31423,G72082617,NaN,Puerto Rico,Toa Baja zona urbana,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1990,T
31424,G72083606,NaN,Puerto Rico,Trujillo Alto zona urbana,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1990,T
31425,G72084509,NaN,Puerto Rico,Utuado zona urbana,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1990,
31426,G72085025,NaN,Puerto Rico,Vayas comunidad,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1990,V
31427,G72085111,NaN,Puerto Rico,V·zquez comunidad,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1990,V
31428,G72085197,NaN,Puerto Rico,Vega Alta zona urbana,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1990,V
31429,G72085326,NaN,Puerto Rico,Vega Baja zona urbana,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1990,V
31430,G72085971,NaN,Puerto Rico,Vieques comunidad,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1990,V
31431,G72086014,NaN,Puerto Rico,Vieques zona urbana,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1990,V
31432,G72086831,NaN,Puerto Rico,Villalba zona urbana,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1990,V
31433,G72087863,NaN,Puerto Rico,Yabucoa zona urbana,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1990,Y
31434,G72088035,NaN,Puerto Rico,Yauco zona urbana,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1990,Y
31435,G72088121,NaN,Puerto Rico,Yaurel comunidad,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1990,Y

In [65]:
!curl https://raw.githubusercontent.com/fitnr/addfips/master/addfips/data/states.csv?accessType = Download > states.csv

  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
100  1036  100  1036    0     0   5656      0 --:--:-- --:--:-- --:--:--  5661
curl: (6) Could not resolve host: =
curl: (6) Could not resolve host: Download

In [66]:
states = pd.read_csv('states.csv')
states.head()

         name postal  fips
0     Alabama     AL     1
1      Alaska     AK     2
2     Arizona     AZ     4
3    Arkansas     AR     5
4  California     CA     6

In [67]:
df = data.merge(states, left_on='STATE', right_on='name', how = 'inner')

In [68]:
df.head()

,﻿NHGISCODE,GJOIN1990,STATE,PLACE,total_people,total_native,total_foreign,total_less_than_bachelor,total_earned_bachelor,total_earned_graduate_degree,median_household_income,year,city_name,name,postal,fips
0,G01000100,NaN,Alabama,Abanda CDP,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1990,Abanda,Alabama,AL,1
1,G01000124,G01000124,Alabama,Abbeville city,3173.0,3138.0,35.0,2135.0,150.0,74.0,21382.0,1990,Abbeville,Alabama,AL,1
2,G01000460,G01000460,Alabama,Adamsville city,4161.0,4224.0,9.0,3051.0,118.0,21.0,30370.0,1990,Adamsville,Alabama,AL,1
3,G01000484,G01000484,Alabama,Addison town,626.0,613.0,2.0,463.0,7.0,9.0,14167.0,1990,Addison,Alabama,AL,1
4,G01000676,G01000676,Alabama,Akron town,468.0,528.0,0.0,363.0,17.0,2.0,9405.0,1990,Akron,Alabama,AL,1

In [69]:
df['abrv_city_state'] = df['city_name'] + '_' + df['postal']

In [70]:
df['abrv_city_state'] = df['abrv_city_state'].str.replace(' ','')
df['abrv_city_state'] = df['abrv_city_state'].str.replace(',','')
df['abrv_city_state'] = df['abrv_city_state'].str.replace('.','')
df['abrv_city_state'] = df['abrv_city_state'].str.lower()

In [71]:
df.head()

,﻿NHGISCODE,GJOIN1990,STATE,PLACE,total_people,total_native,total_foreign,total_less_than_bachelor,total_earned_bachelor,total_earned_graduate_degree,median_household_income,year,city_name,name,postal,fips,abrv_city_state
0,G01000100,NaN,Alabama,Abanda CDP,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1990,Abanda,Alabama,AL,1,abanda_al
1,G01000124,G01000124,Alabama,Abbeville city,3173.0,3138.0,35.0,2135.0,150.0,74.0,21382.0,1990,Abbeville,Alabama,AL,1,abbeville_al
2,G01000460,G01000460,Alabama,Adamsville city,4161.0,4224.0,9.0,3051.0,118.0,21.0,30370.0,1990,Adamsville,Alabama,AL,1,adamsville_al
3,G01000484,G01000484,Alabama,Addison town,626.0,613.0,2.0,463.0,7.0,9.0,14167.0,1990,Addison,Alabama,AL,1,addison_al
4,G01000676,G01000676,Alabama,Akron town,468.0,528.0,0.0,363.0,17.0,2.0,9405.0,1990,Akron,Alabama,AL,1,akron_al

In [72]:
final_df = df.drop(['﻿NHGISCODE','GJOIN1990','STATE','PLACE','year','city_name','name','postal','fips'], axis = 1)

In [74]:
final_df.head()

,total_people,total_native,total_foreign,total_less_than_bachelor,total_earned_bachelor,total_earned_graduate_degree,median_household_income,abrv_city_state
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,abanda_al
1,3173.0,3138.0,35.0,2135.0,150.0,74.0,21382.0,abbeville_al
2,4161.0,4224.0,9.0,3051.0,118.0,21.0,30370.0,adamsville_al
3,626.0,613.0,2.0,463.0,7.0,9.0,14167.0,addison_al
4,468.0,528.0,0.0,363.0,17.0,2.0,9405.0,akron_al

In [75]:
final_df.to_csv('1990_demographics_finished.csv')